Makefile.in
Makefile
/aclocal.m4
/autom4te.cache
/depcomp
/config.status
/config.log
/config.h
/stamp-h1
/config.h.in
/config.guess
/config.sub
/configure
/missing
/install-sh
/src/dosbox
*.o
*.a
.deps
